@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --colour-light: rgba(132, 139, 200, 0.18);
  --colour-white: #fff;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--colour-light);
}

html, body {
  height: 100%;
  width: 100%;
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: #fff;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover{
  box-shadow: none;
}

main .insights > div span{
  background: coral;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

main .insights > div .middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3{
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress{
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg{
  width: 7rem;
  height: 7rem;
}

main .insights svg circle{
  fill: none;
  stroke: red;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .mspent svg circle{
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .climit svg circle{
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .cscore svg circle{
  stroke-dashoffset: 110;
  stroke-dasharray: 200;
}